<body data-spy="scroll" data-target=".navbar" data-offset="50">
 <header>
	<div class="container">
		<!-- nav -->
		<nav class="py-4 d-lg-flex">
			<div id="logo">
				<h1> <a href="index.html">NATENOTSORRY</a></h1>
			</div>
			<label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
			<input type="checkbox" id="drop" />
			<ul class="menu mt-md-2 ml-auto">
        {{#if user}}
        <li class="mr-lg-4 mr-2 active"><a href="/">Home</a></li>
        <li class="mr-lg-4 mr-2 active"><a href="/">About</a></li>
        <li class="mr-lg-4 mr-2"><a href="#all-posts">Blog</a></li>
		<li class="mr-lg-4 mr-2"><a href="/messages/my-messages">My Messages</a></li>
        <li class="mr-lg-4 mr-2"><a href="/posts/posts">Make post</a></li>
        <li class="mr-lg-4 mr-2"><a href="/users/logout">Logout</a></li>
        {{else}}
        <li class="mr-lg-4 mr-2 active"><a href="/">Home</a></li>
        <li class="mr-lg-4 mr-2 active"><a href="/">About</a></li>
        <li class="mr-lg-4 mr-2"><a href="#all-posts">Blog</a></li>
		<li class="mr-lg-4 mr-2"><a href="/messages/messages">Contact</a></li>
         <li class="mr-lg-4 mr-2"><a href="/users/login">Login</a></li>
        <!--<li class="mr-lg-4 mr-2"><a href="/users/register">Register</a></li> -->
        {{/if}}
			</ul>
		</nav>
		<!-- //nav -->
	</div>
</header>
<!-- //header -->
		
<!-- banner -->
	<div class="rain1">
		<div class="banner-text">
			<div class="slider-info">
				<div class="w3pvt-logo mt-lg-5">
					<h2>Stefan Dixon</h2>
					<p class="mt-3">Junior Full Stack Web Developer</p>
                    <p class="mt-3">Wellington, New Zealand</p>
                    <a href='https://www.facebook.com/stefan.dixon.9' class="social" aria-label="facebook">
  <svg viewbox="0 0 800 800" role="img">
    <path d="M445 643h-90V419h-75v-87h75v-64c0-75 45-115 112-115 37 0 67 3 67 3v78h-46c-36 0-43 18-43 43v55h86l-11 87h-75v224z" />
  </svg>
</a>

<a href='https://twitter.com/Capn_Stef?lang=en' class="social" aria-label="twitter">
  <svg viewbox="0 0 800 800" role="img">
    <path d="M679 239s-21 34-55 57c7 156-107 329-314 329-103 0-169-50-169-50s81 17 163-45c-83-5-103-77-103-77s23 6 50-2c-93-23-89-110-89-110s23 14 50 14c-84-65-34-148-34-148s76 107 228 116c-22-121 117-177 188-101 37-6 71-27 71-27s-12 41-49 61c30-2 63-17 63-17z"
    />
  </svg>
</a>
<a href='https://www.linkedin.com/in/stefan-dixon-5ab11717b/' class="social" aria-label="linkedin">
  <svg viewbox="0 0 800 800" role="img">
    <path d="M268 629h-97V319h97v310zm157 0h-97V319h93v42h1c13-24 44-50 91-50 98 0 116 64 116 148v170h-96V478c0-36-2-82-51-82-50 0-57 39-57 79v154zM220 164c31 0 55 25 55 56s-24 56-55 56-56-25-56-56 25-56 56-56z" />
  </svg>
</a>

<a href='https://github.com/StefTheWebDev' class="social round" aria-label="github">
  <svg viewbox="0 0 800 800" role="img">
    <path d="M400 139c144 0 260 116 260 260 0 115-75 213-178 247-9 3-17-2-17-13v-71c0-35-18-48-18-48 57-6 119-28 119-128 0-44-27-70-27-70s14-29-2-69c0 0-22-7-72 27-42-12-88-12-130 0-50-34-72-27-72-27-16 40-2 69-2 69s-27 26-27 70c0 100 62 122 119 128 0 0-14 10-17 35-15 7-53 18-76-22 0 0-13-25-39-27 0 0-26 0-2 16 0 0 17 8 29 38 0 0 16 51 88 35v44c0 11-9 16-18 13-103-34-178-132-178-247 0-144 116-260 260-260z"
    />
  </svg>
</a>
                    </div>
                    </div>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    <i class="rain"></i>
                    </div>
                    </div>
				</div>
                </div>

<section style="background-color: #CDCDCD" id="all-posts">
    	<div class="container py-md-5">
		<div class="row">
			<div class="col-lg-3 about-left">	
                <span>Posts</span>
				<h3 class="heading mb-lg-5 mb-4"></h3>
			</div>
{{# each posts }}
<div style="width: 100%" class="card gedf-card m-2">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2">
                                    <img class="rounded-circle" width="45" height="45" src="https://scontent.fhlz2-1.fna.fbcdn.net/v/t1.0-9/16387256_1304697089597667_8203799895341360586_n.jpg?_nc_cat=111&_nc_ht=scontent.fhlz2-1.fna&oh=c7a15457f0ca78351f6366d0330e49a6&oe=5CF3ABB3" alt="">
                                </div>
                                <div class="ml-2">
                                    <h5>Stefan Dixon</h5>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                    <div class="card-body">
                        <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>{{ this.date }}</div>
                        <a class="card-link" href="#all-posts">
                            <h5 class="card-title">{{this.post}}</h5>
                        </a>
                    </div>
                </div>
                {{/each}}
</section>
